body {
  background-color: #ffe6f2;
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 20px;
  line-height: 1.6;
}

.container {
  background-color: #ffffff;
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  border-radius: 15px;
  border: 2px solid #ffb3d9;
}

/* --- header --- */
.header {
  text-align: center;
  margin-bottom: 40px;
  border-bottom: 2px solid #ffb3d9;
  padding-bottom: 20px;
}

h1 {
  color: #cc0066;
  margin-bottom: 5px;
}

.subtext {
  color: #666666;
  font-style: italic;
}

/* --- image --- */
.avatar {
  display: block;
  margin: 20px auto;
  width: 150px;
  height: 150px;
  border-radius: 50%; /*circle */
  border: 4px solid #cc0066;
}

/* --- sections --- */
section {
  margin-bottom: 50px;
}

h2 {
  color: #99004d;
  border-bottom: 1px solid #ffccff;
  padding-bottom: 10px;
}

/* --- lists & cards --- */
ul li {
  background-color: #fff0f5;
  border: 1px solid #ffb3d9;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 8px;
  list-style-type: none;
}

strong {
  color: #cc0066;
  font-size: 1.1em;
}

ul ul li {
  background-color: transparent;
  border: none;
  margin-bottom: 5px;
  padding: 0;
  list-style-type: circle;
  color: #555;
}
